
<html>
    <head>
        <title>IPFS Pin service.</title>
        <style type="text/css">
            body {
                margin:40px auto;
                max-width:650px;
                line-height:1.6;
                font-size:18px;
                color:#444;
                padding:0 10px
            }
            h1,h2,h3 {
                line-height:1.2
            }
        </style>
    </head>

    <body>
        <h3>Complete</h3>

        <p>Your content at /ipfs/{{ hash }} will be pinned by this service for {{ time }} months.</p>
    </body>
</html>
