<html>
    <head>
        <title>IPFS Pin - Pay </title>
        <style type="text/css">
            body {
                margin:40px auto;
                max-width:650px;
                line-height:1.6;
                font-size:18px;
                color:#444;
                padding:0 10px
            }
            h1,h2,h3 {
                line-height:1.2
            }
        </style>
    </head>
    <body>
        {% if error %}
        {{ error }} <a href='/'>Go Back</a>
        {% else %}
        /ipfs/{{ hash }} is {{ human }} in size. For {{ months }} months of pinning, the cost is {{ cost }} BTC. <a class="coinbase-button" data-code="{{ code }}" data-button-style="buy_now_small" href="https://www.coinbase.com/checkouts/{{ code }}">Pay With Bitcoin</a><script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>.
        {% endif %}
    </body>
</html>
