<html>
    <head>
        <title>IPFS Pin service.</title>
        <style type="text/css">
            body {
                margin:40px auto;
                max-width:650px;
                line-height:1.6;
                font-size:18px;
                color:#444;
                padding:0 10px
            }
            h1,h2,h3 {
                line-height:1.2
            }
        </style>
    </head>

    <body>
        <h3>IPFS Pin service</h3>

        <p>IPFSPin lets you pin your content, giving your data an always available source.</p>
        <p>Files are hosted at a rate of 1 Satoshi per 100kB per month. That's 0.1mBTC per GB per month.</p>
        <p>Current available space: {{ space }}</p>
        <form action=/confirm_pay method='GET'>
            <table>
                <tr><td><label for=hash>Hash to be hosted</label></td><td><input type=text id=hash name=hash size='45'></td></tr>
                <tr><td><label for=months>Pin for </label></td><td><input id=months type=number value=1 name=months> months.</td></tr>
            </table>
            <button>Check size</button>
        </form>

        <h3>Quick Info/FAQ</h3>
        <h4>Transaction Fees</h4>
        <p>Due to transaction fees, it's advisable to pin a decently sized file. Sure, you can do a small 50kb file for 1 satoshi, but you're still going to have to pay the transaction fee. I am using Coinbase to handle payments, so if you're also using Coinbase, you're in luck! You don't have to pay any transaction fees.</p>
        <h4>Server</h4>
        <p>200Mbit/s, hosted in Amsterdam. More locations/more bandwidth can be added if this experiment is successful.</p>
    </body>
</html>
