<html>
    <head><title>IPFS PIN - Size Check</title></head>
    <body>
        The size of hash {{ hash }} is {{ size }}kB. How long would you like to keep it on here?
        <form action=/confirm_pay method=GET>
            <input type='hidden' name=hash value='{{ hash }}'>

            <label for=months>Pin for </label><input id=months type=number value=1 name=months> months.
            <button type=submit>Calculate Cost</button>
        </form>
    </body>
</html>
